<div id="controls-carousel" class="relative w-full" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="https://i.pinimg.com/736x/88/78/89/8878899a152ea413ad56e633ca0eb5a7.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Accesorios de tecnologia">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img src="https://i.pinimg.com/736x/64/42/bc/6442bc4c5cb36ec1c9cbc96e8819e1da.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Utiles Escolares">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src= "https://i.pinimg.com/736x/bc/a5/f9/bca5f94620fe39d8ad5ceab639eb79cd.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Accesorios para mascotas">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="https://i.pinimg.com/736x/16/0f/42/160f425bedf97a202729166de8fcd06d.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Instrumentos musicales">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="https://i.pinimg.com/736x/cb/51/c3/cb51c3324f3fab28b7a002145ce2f78d.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="belleza-joyeria">
      </div>
  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>


<!-- Categorías -->
<section class="my-10 px-5">
  <h2 class="text-6xl font-semibold text-center mb-6" style="color: #FFA500; font-family: 'Roboto', sans-serif;">Categorías</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Categoría 1: Tecnología -->
    <a href="/tecnologia">
        <div class="category-card bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 text-center">
            <img src="https://www.muycanal.com/wp-content/uploads/2021/03/tienda_tecnologia.jpg" alt="Tecnología" class="mx-auto mb-4 h-24 w-24 object-cover rounded-full border-2 border-orange-500">
            <h3 class="text-xl font-semibold text-gray-800">Tecnología</h3>
        </div>
    </a>
    
    <!-- Categoría 2: Electrodomésticos -->
    <a href="electrodomesticos">
        <div class="category-card bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 text-center">
            <img src="https://images.milled.com/2019-02-26/vfcoIU9bDvGeQDi9/OnLEs31q0E6v.gif" alt="Electrodomésticos" class="mx-auto mb-4 h-24 w-24 object-cover rounded-full border-2 border-orange-500">
            <h3 class="text-xl font-semibold text-gray-800">Electrodomésticos</h3>
        </div>
    </a>
    
    <!-- Categoría 3: Utiles Escolares -->
    <a href="utiles-escolares">
        <div class="category-card bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 text-center">
            <img src="https://i.gifer.com/GH2C.gif" alt="Utiles Escolares" class="mx-auto mb-4 h-24 w-24 object-cover rounded-full border-2 border-orange-500">
            <h3 class="text-xl font-semibold text-gray-800">Utiles Escolares</h3>
        </div>
    </a>

    <!-- Categoría 4: Belleza y Joyería -->
    <a href="belleza-joyeria">
        <div class="category-card bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqEd3FvpFlnKToFd1fNRJA4aaZkxiJD40HsQ&s" alt="Belleza" class="mx-auto mb-4 h-24 w-24 object-cover rounded-full border-2 border-orange-500">
            <h3 class="text-xl font-semibold text-gray-800">Belleza y Joyería</h3>
        </div>
    </a>

    <!-- Categoría 5: Accesorios para mascotas -->
    <a href="mascotas">
        <div class="category-card bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 text-center">
            <img src="https://img.freepik.com/vector-gratis/conjunto-plano-varios-accesorios-moda-perros-gatos_74855-15557.jpg" alt="Accesorios para mascotas" class="mx-auto mb-4 h-24 w-24 object-cover rounded-full border-2 border-orange-500">
            <h3 class="text-xl font-semibold text-gray-800">Accesorios para mascotas</h3>
        </div>
    </a>

    <!-- Categoría 6: Instrumentos musicales -->
    <a href="instrumentos">
        <div class="category-card bg-gray-100 p-6 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 text-center">
            <img src="https://i.pinimg.com/originals/25/04/10/2504109c1231d2bc9649d0d4791910bc.gif" alt="Instrumentos musicales" class="mx-auto mb-4 h-24 w-24 object-cover rounded-full border-2 border-orange-500">
            <h3 class="text-xl font-semibold text-gray-800">Instrumentos musicales</h3>
        </div>
    </a>
</div>


<section class="my-10 px-5 bg-[#FF9F00] py-8">
  <h2 class="text-3xl font-semibold text-center mb-6">¡Ofertas Especiales!</h2>
  <div class="flex flex-col md:flex-row justify-center items-center gap-8">
    <div class="offer flex flex-col items-center bg-white p-6 rounded-lg shadow-lg w-full md:w-1/2">
      <img
        src="https://s03.s3c.es/imag/_v0/1200x628/f/7/2/Las-mejores-ofertas-de-losdias-naranjas-de-pccomponentes.jpg"
        alt="Oferta 1" class="mb-4 w-full h-60 object-cover rounded-lg">
      <h3 class="text-2xl font-semibold mb-2">Descuento 50% en tecnología</h3>
      <p class="text-gray-700">Compra cualquier producto tecnológico y obtén un 50% de descuento en tu próxima compra.</p>
    </div>
    <div class="offer flex flex-col items-center bg-white p-6 rounded-lg shadow-lg w-full md:w-1/2">
      <img src="https://agendapro.com/blog/wp-content/uploads/sites/2/2019/02/4073279-1-1024x683.webp" alt="Oferta 2"
        class="mb-4 w-full h-60 object-cover rounded-lg">
      <h3 class="text-2xl font-semibold mb-2">Descuento 50% en belleza</h3>
      <p class="text-gray-700">Obtén un descuento exclusivo en productos de belleza y cuidado personal.</p>
    </div>
  </div>
</section>
